<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    @for (card of cards | async; track card) {
      <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            @if (card.id === 'crt') {
              <audie-dish-table></audie-dish-table>
            }
            @if (card.id === 'brg') {
              <div>
                @for (brg of burgers; track brg) {
                  <p>{{ brg.title }} ({{ brg.description }}) : {{ brg.price | currency:'EUR':'symbol':'1.2-2' }}
                    <mat-divider></mat-divider>
                  </p>
                }
              </div>
            }
            @if (card.id === 'pzz') {
              <div>
                @for (pzz of pizzas; track pzz) {
                  <p>{{ pzz.title }} ({{ pzz.description }}) : {{ pzz.price | currency:'EUR':'symbol':'1.2-2' }}
                    <mat-divider></mat-divider>
                  </p>
                }
              </div>
            }
            @if (card.id === 'glt') {
              <div>
                @for (glt of galettes; track glt) {
                  <p>{{ glt.title }} ({{ glt.description }}) : {{ glt.price | currency:'EUR':'symbol':'1.2-2' }}
                    <mat-divider></mat-divider>
                  </p>
                }
              </div>
            }
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
</div>
